/* Estilos base */
.container-contacto {
    padding: 70px 0px;
    color: #e7e3e3;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: auto;
    body.dark &{
        color: #242420;
    }
}

h1 {
    padding: 30px;
    margin: 12px 0px;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    padding: 1.2rem;
    margin: 12px 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
}

form {
    width: 100%;
    padding: 12px 0px;
    margin: auto;
}

input,
textarea {
    display: block;
    align-items: center;
    margin:  2rem auto;
    font-size: 1.2rem;
    width: 90%;
    border: none;
    padding: 1.2rem 2rem;
    background-color: #f8f8f8;
    border-radius: 12px; 
    box-shadow: 0px 0px 6px rgba(247, 242, 242, 0.897);
    body.dark &{
        background-color: #f1ecec;
        box-shadow: 0px 0px 6px rgba(31, 30, 30, 0.897);
    }
}

button {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 18px;
    background-color: #127180;
    color: #e7e3e3;
    border: none;
    padding: 12px 35px;
    border-radius: 12px;
    transition: .3s;
    line-height: 1.25;
    letter-spacing: 1px;
}

button:hover {
    opacity: 0.7;
}

@media (max-width: 300px) {
    .contact {
        max-width: 300px;
    }
}


@media (min-width: 800px) {
    form{
        width: 80%;
    }
}


