

.inicio{
    color: #f0f8ff;
    align-items: center;
    body.dark &{
        color: #242420;
    }
}

.contenedor{
    padding: 4rem 0px;
}

.contenido-foto{
    max-width: 600px;
    margin: auto;
}

.contenido-foto img{
    margin-bottom: 20px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
    cursor: pointer;
    transition: .7s;   
}



.info{
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px;
}

.info h2{
    padding: 18px;
    font-size: 4rem;
}

.info h3{
    flex-wrap:wrap;
    padding: 18px 22px;
    font-size: 22px;
    letter-spacing: 3px;
}

.span{
    border-bottom: 2px solid #f0f8ff;
    width: 260px;
    height: 30px;
    margin: 0 auto;
    body.dark &{
        border-bottom:2px solid #242420;
    }
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 4rem;
}
.iconos i{
    color: #f0f8ff;
    margin: 18px 30px;
    body.dark &{
        color: #242420;
    }
}

a{
    list-style: none;
    text-decoration: none;
}

.popup {
    position:absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    transform: translateY(-8px);
    body.dark &{
        background-color: #242420;
    }
}

.iconos:hover .popup {
    display: block;
    opacity: 1;

}

.popup p {
    font-size: 12px;
    color: #333;
    body.dark &{
        color: #fff;
    }
}




@media (min-width: 850px){
    .inicio{
        display: flex;
        height: 120vh;
    }


    .contenido-foto{
        display: flex;
        margin: 0;
        
    }

    .info{
        margin: 0 auto;
    }
}