


.loader{
    scroll-behavior: smooth;

    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    body.dark {
        background-color: #abaaad;
    }
}
