
    .container{
        background-color: rgba(36, 36, 32, 0.7);
        cursor: pointer;
        z-index: 1;
        width: 100%;
        position: fixed; 
        top: 0; 
        transition: background-color 0.3s, color 0.3s;
        body.dark & {
            background-color: rgb(234, 232, 247,0.7);
        }
    }


    .navbar {
        display: flex;
        text-align: center;
        padding: 1rem 22px;
        justify-content: space-between;
        transition: .3s ease-in-out;
    }

    .navbar:hover {
        box-shadow: 0px 0px 22px rgba(64, 21, 165, 0.911); 
        body.dark & {
            box-shadow: 0px 0px 22px rgba(86, 86, 87, 0.911); 
        }
    }
    
    
    
    .oscuro{
        display: flex;
        padding: 8px;
        cursor: pointer;
        border-left: 2px solid rgb(192, 187, 187);
        body.dark &{
            border-left:2px solid #0f0f0e;
        }
    }



    .oscuro span{
        border-radius: 12px;
        padding:2px 8px;
        margin: 0px 4px;
    }

    .oscuro span:first-child{
        color: #141414;
        background-color: #22221f;
    }

    .oscuro span:last-child{
        color: #E9E7F7;
        background-color: #e4e3ee;
    }
    
    .menu {
        display: flex;
    }
    
    .menu a {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        margin: 0px 12px;
        padding: 4px 8px;
        letter-spacing: 2px;
        color: #e9e7e7;
        body.dark & {
            color: #0d0d0e;
            
        }
    }

    .menu a:hover{
        transition: .4s;
        color:#155aeee0;
        body.dark & {
            color:#1e5bdffb;
        }
    }
    
    .menu-icon {
        display: none;
        cursor: pointer;
        justify-content: left;
    }
    
    .menu-icon span {
        height: 3px;
        width: 25px;
        background-color: #e9e7e7;
        margin: 4px 12px;
        body.dark & {
            background-color: #19191a;
        }
    }
    
    .active a {
        color:#3570f0fb;
        body.dark & {
            color:#1e5bdffb;
        }
    }

    
    
    @media (max-width: 850px) {
        .navbar{
            padding: 14px;
        }

        .navbar:hover {
            box-shadow: 0px 0px 0px; 
        }
        

        .logo{
            display: none;
        }


        .menu {
        display: none;
        right: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100%;
        background: rgba(20, 22, 29, 0.8);
        backdrop-filter: blur(6px);

        body.dark & {
            background-color:  rgba(175, 176, 179, 0.7);
        }
        }
    
        .menu.open {
        display: flex;
        }
    
        .menu-icon {
        display: flex;
        flex-direction: column;
        }

        .menu a {
            margin: 2rem auto;
            padding: 8px 0px;
            font-size: 1.8rem;
        }
    }
    