

.section{
    padding: 70px 0px;
    margin: 0 auto;
    color: #e7e3e3;
    

}

.section h2{
    padding: 30px;
    margin: 12px auto;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    letter-spacing: 2px;
    cursor: pointer;
    
}

.productos{
    text-align: center;
    margin:2rem 4rem;
    border-radius: 9px;
    background-color: #292927;
    transition: transform 0.4s, opacity 1s;
    body.dark &{
        background-color: #d1cdcd;
    }
}

.productos:hover {
    box-shadow: 0px 0px 20px rgba(179, 178, 180, 0.918); 
    body.dark &{
        box-shadow: 0px 0px 20px rgba(71, 70, 71, 0.918)
    }
}


.productos h3{
    padding: 7px;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}


.productos p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding:  1rem .7rem;
    font-weight: 600;
}

.productos .link{
    display: flex;
    padding: 1rem 1.8rem;
    margin: 1rem;
}

.link .boton{
    background-color: #e7e3e3;
    body.dark &{
        background-color: #272726;
    }
}

.proyectos i{
    color: #100230ea;
    body.dark &{
        color: #e7e3e3;
    }
}



@media (max-width: 700px){
    .proyectos{
        grid-template-columns: repeat(1,2fr);
    }
    .productos{
        margin: 2rem 1.5rem;
    }


    .productos .link{
        margin: 0 auto;
    }
}

@media (max-width: 340px){
    .link .boton{
        padding: 12px 18px;
    }
    
}