

.section{
    padding: 70px 0px;
    margin: 0 auto;
    color: #e7e3e3;
    font-family: 'Poppins', sans-serif;
}

.section h2{
    padding: 30px;
    margin: 12px auto;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem ;
    padding: 1.8rem;
    margin: 2rem;
    cursor: pointer;
}

.productos{
    text-align: center;
    margin:3%;
    border: 1px solid #F0F0ED;
    border-radius: 12px;
    background-color: #242420;
    transition: transform 0.5s, opacity 0.4s;
    body.dark &{
        background-color: #dbd7d7;
        border:1px solid #0f0f0e;
    }
}

.productos:hover{
    opacity: 0.9; 
    filter: brightness(80%);
}

.productos h3{
    padding: 12px;
    font-weight: 700;
    font-size: 22px;
}

.productos .image{
    max-width: 350px;
    width: 35vw;
    object-fit: cover;
    border-radius: 22px;
    padding: 12px;
}

.productos p{
    letter-spacing: 1px;
    padding: 8px;
    font-weight: 600;
}

.productos .link{
    display: flex;
    margin: 0 auto;
    padding: 18px;
}

.link .boton{
    background-color: #e7e3e3;
    max-width: 100px;
    body.dark &{
        background-color: #272726;
    }
}

.proyectos i{
    color: #100230ea;
    body.dark &{
        color: #e7e3e3;
    }
}



@media (max-width: 700px){
    .proyectos{
        grid-template-columns: repeat(1,2fr);

    }

    .productos .link{
        margin: 0 auto;
    }

    .productos .image{
        width: 100%;
    }
}

@media (max-width: 370px){
    .productos .link{
        
    }
    .link .boton{
        padding: 16px;
    }
}