

.section{
    padding: 70px 0px;
    margin: 0 auto;
    color: #e7e3e3;
    font-family: 'Poppins', sans-serif;
}

.section h2{
    padding: 30px;
    margin: 12px auto;
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem ;
    cursor: pointer;
    padding: 12px;
    height: auto;
}

.proyectos i{
    color: #100230ea;
}


.productos{
    text-align: center;
    padding: 12px 20px;
    margin-top: 3%;
    margin-bottom: 10%;
}

.productos .image{
    width: 450px;
    border-radius: 8px 12px;
    overflow: hidden;
    transition: transform 0.5s, opacity 0.4s;
}

.productos .image:hover{
    transform: scale(1.1);
    opacity: 0.9; 
    filter: brightness(80%);
}

.productos p{
    letter-spacing: 1px;
    padding: 8px;
}

.productos .link{
    display: flex;
    margin: 0 auto;
    padding: 12px;
}

.link .boton{
    background-color: azure;
    width: 100px;
}



@media (max-width: 700px){
    .proyectos{
        grid-template-columns: repeat(1,2fr);

    }

    .productos .link{
        margin: 0 auto;
    }

    .productos .image{
        width: 100%;
    }
}