
    .slick-slide img {
        width: 100%;
        height: auto;
    }

    @media (min-width: 850px){

    }


    .general{
        margin: 0 auto ;
        max-width: 600px;
        padding: 1rem 1.2rem;
    }

    